* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
}

.container{
    width: 100%;
}

.container .box-game{
    position: absolute;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .box-game h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #163c3f;
    padding-bottom: 15px;
}

.container .box-game h2{
    font-size: 1.875rem;
    text-transform: uppercase;
    background-color: #39c9d6;
    color: #104b50;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container .box-game p{
    font-size: 1.25rem;
    padding-left: 20px;
    color: #104b50;
    margin-bottom: 20px;
}

.container .box-game input{
    width: 100%;
    max-width: 250px;
    height: 25px;
    border-radius: 10px;

    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 20px;
}

.container .box-game button{
    width: 100%;
    max-width: 150px;
    border: 0 none;
    padding: 10px;
    cursor: pointer;
    background-color: #58cfda;
    border-radius: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.img-fundo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: url(assets/imagens/MrRobot.jpg);
    background-position: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 200px;
}